recipe/recipe-venetian-blind.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="AmountType">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="unit"        type="xs:string" use="required"/>
        <xs:attribute name="approximate" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="IngredientType">
    <xs:sequence>
      <xs:element name="Name"   type="xs:string"/>
      <xs:element name="Amount" type="AmountType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RecipeType">
    <xs:sequence>
      <xs:element name="Title"      type="xs:string"/>
      <xs:element name="Ingredient" type="IngredientType" maxOccurs="unbounded"/>
      <xs:element name="Step"       type="xs:string"      maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="Recipe" type="RecipeType"/>

</xs:schema>
