recipe/recipe-salami-slice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="Title"  type="xs:string"/>
  <xs:element name="Name"   type="xs:string"/>
  <xs:element name="Step"   type="xs:string"/>

  <xs:element name="Amount">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:decimal">
          <xs:attribute name="unit"        type="xs:string" use="required"/>
          <xs:attribute name="approximate" type="xs:string" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="Ingredient">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Name"/>
        <xs:element ref="Amount"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="Recipe">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Title"/>
        <xs:element ref="Ingredient" maxOccurs="unbounded"/>
        <xs:element ref="Step"       maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
